@import './variables.scss';

.button {
  background: lighten($light-brown, 15%);
  border: 2px solid darken($light-brown, 10%);
  border-radius: 4px;
  box-sizing: border-box;
  color: darken($brown, 15%);
  font-size: 1.25em;
  font-weight: 600;
  margin: 0;
  padding: 0.5em 2em;
  text-decoration: none;

  &:hover, &:active {
    background: lighten($light-brown, 5%);
    border-color: darken($light-brown, 15%);
  }

  &.positive {
    border: 2px solid darken($green, 10%);
    background: $green;
    color: #fff;

    &:hover, &:active {
      background: darken($green, 5%);
      border-color: darken($green, 15%);
    }
  }

  &.remove {
    background: #fff;
    border-color: $red;
    color: $red;
    font-size: 1em;

    &:hover, &:active {
      background: darken($red, 5%);
      border-color: darken($red, 5%);
      color: #fff;
    }
  }

  &:disabled, &:disabled:hover, &:disabled:active {
    background: #eee;
    border-color: #ddd;
    color: #ccc;
  }
}

.actions {
  border-top: 4px solid lighten($light-brown, 25%);
  margin: 0 auto;
  padding: 2em 0;
  text-align: center;

  .button {
    margin: 0 0.25em;
  }
}
