<div *ngFor="let ingredient of availableIngredients">
  <input
    #ingredientElement
    [type]="allowMultipleIngredients ? 'checkbox' : 'radio'"
    name="ingredient"
    [value]="ingredient"
    [checked]="currentSelection?.includes(ingredient)"
    (click)="ingredientElementSelected(ingredientElement)">
  {{ ingredient }}
</div>

<button
  *ngIf="buttonVisibility.back"
  (click)="returnToPreviousStep()">
  Back
</button>

<button
  *ngIf="buttonVisibility.next"
  (click)="proceedToNextStep()">
  Next
</button>

<button
  *ngIf="buttonVisibility.addToCart"
  (click)="proceedToNextStep()">
  Add To Cart
</button>
