<div class="selections">
  <div class="selection" *ngFor="let ingredient of availableIngredients; #idx = index">
    <input
      id="selection-{{idx}}"
      #ingredientElement
      [type]="allowMultipleIngredients ? 'checkbox' : 'radio'"
      name="ingredient"
      [value]="ingredient"
      [checked]="currentSelection?.includes(ingredient)"
      (click)="ingredientElementSelected(ingredientElement)">
    <label htmlFor="selection-{{idx}}">{{ ingredient }}</label>
  </div>
</div>

<div class="actions">
  <button
    class="button"
    *ngIf="buttonVisibility.back"
    (click)="returnToPreviousStep()">
    Back
  </button>

  <button
    class="button positive"
    *ngIf="buttonVisibility.next"
    (click)="proceedToNextStep()">
    Next
  </button>

  <button
    class="button positive"
    *ngIf="buttonVisibility.addToCart"
    (click)="addPizzaToOrder()">
    Add To Cart
  </button>
</div>
